footer {
  background-color: #111;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  padding: 0px 70px 70px 70px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

footer h3 {
  color: var(--inColorText);
  margin: 0px;
  border-bottom: 1px solid #A0A0A0;
  margin-bottom: 8px;
}

.socialMediaImgSideInFooter {
  margin: 10px 0px;
}

.socialMediaImgSideInFooter p {
  margin: 0px;
}

.socialMedia {
  color: var(--inColorText);
}

.mainFooter {
  max-width: 380px;
}

.linksFooter {
  color: var(--inColorText);
}

.linksFooter article {
  margin: 10px 0px;
}

.linksPart {
  display: flex;
}

.linksSide {
  display: flex;
}


.linksSide div {
  display: flex;
  flex-direction: column;
  margin: 0px 15px;
}

.linksSide div a {
  margin: 5px 0px;
}

.linksSide div a:hover {
  text-decoration: underline;
}


.backUpBtn {
  color: var(--inColorLabel);
  background-color: #060606;
  font-size: 13px;
  padding: 10px 40px 10px 40px;
  letter-spacing: 0.05em;
  max-width: 180px;
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 20px;
}

.backUpBtn a {
  color: var(--inColorLabel);
}

.backUpBtn:hover {
  background-color: #242424;
  transition: 0.2s;
}